
html {
    background-color: #9FA5FF;
    height: 100%;
}

body {
    background-color: #E2E3FF;

    margin: 0 auto;
   width: 70%;

}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #c68de2;
}

h6 {
  text-align: center;
  margin-bottom: 0px;
}

.purple-background {
  background-color:#c68de2;
}
.black {
  color:#000000;
}
.inputfield{
  height:30px;
}

.containerInput {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  padding: 20px 0;
  overflow: scroll;
  height: 300px;
}

#multTable {
  margin: auto;
}

#message p{
  color: red;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-left: 15px;
  text-align: center;
}

#multTable td, th {
  width: 50px;
  font-size: 20px;
  border: 1px solid blue;
}
#multTable td:nth-child(even) {
  background-color: #ffffff;
}

#multTable th {
  background-color: #9FA5FF;
}
