
html {
    background-color: #9FA5FF;
    height: 100%;
}

body {
    background-color: #E2E3FF;
    margin: 0 auto;
    width: 70%;
    height: 100%
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #c68de2;
}

p {
  padding-left: 15px;
  padding-bottom: 15px;
}

.containerInput {
  padding-left: 0px;
  padding-right: 0px;
}

#multTable {
  margin: auto;
  height: 200px;
  overflow-x:scroll;
  overflow-y:scroll;
  display:block;
}

#multTable td, th {
  width: 50px;
  font-size: 20px;
  border: 1px solid blue;
}
#multTable td:nth-child(even) {
  background-color: #ffffff;
}

#multTable th {
  background-color: #9FA5FF;
}
